@import "../../Mixins";

.pageHeader {
  position: absolute;
  width: 100vw;
  box-sizing: border-box;
  padding: 15px 16px;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid white;
}

.logo {
  margin-right: auto;
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.links {
  margin: 0;
  &>li {
    display: inline-block;
    margin-right: 24px;
    @include mediaQuery(490, max) {
      display: block;
      margin-right: 0;
      text-align: right;
      margin-bottom: 8px;
    }
    &>a {
      color: white;
      font-size: 18px;
      text-decoration: none;
    }
    &:last-child {
      margin-right: 0;
      @include mediaQuery(500, max) {
        margin-bottom: 0;

      }
    }
  }
}
