@import "../../Mixins";

.mainBlock {
  background-image: url("./img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  &>.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 250px 16px 200px 16px;
    &>h1 {
      font-size: 100px;
      color: white;
      font-weight: normal;

      @include mediaQuery(728, max) {
        font-size: 60px;
      }
    }
    &>.subtitle {
      color: white;
      font-size: 32px;
      margin-bottom: 32px;
    }
    &>.mainButton {
      border: none;
      display: block;
      background-color: white;
      border-radius: 30px;
      padding: 16px 24px;
      font-size: 18px;
      box-shadow: 0 0 8px white;
      color: black;
      &:hover {
        box-shadow: 0 0 24px white;
        color: rgba(0, 0, 0, 50%);
        transition-duration: 1.5s;
      }
    }
  }
}
