@import "../../Mixins";

.planetBlock{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 44px;
  width: 100%;
  @include mediaQuery(728, max) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  @include mediaQuery(728, max) {
    width: 100%;
  }
  &>a:hover {
    opacity: 100%;
    border-bottom: none;
  }
  &>p {
    color: white;
    font-size: 16px;
    margin-bottom: 24px;
  }
}

.planetName {
  color: white;
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 32px;
}

.infoInNumbers {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 16px 0;
  @include mediaQuery(728, max) {
    margin: 12px 0;
  }
}

.numbersBlock {
  margin-right: 48px;
  margin-bottom: 16px;
  flex-wrap: wrap;
  @include mediaQuery(728, max) {
    margin-bottom: 20px;
  }
}

.value {
  display: inline-block;
  font-size: 36px;
  @include mediaQuery(728, max) {
    font-size: 32px;
  }
}

.measure {
  display: inline-block;
  font-size: 16px;
  margin-left: 6px;
}

.valueDescription {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

.planetPhoto {
  display: block;
  width: 40%;
  @include mediaQuery(728, max) {
    width: 80%;
  }
  &>img {
    width: 100%;
  }
}


