.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.textBlock {
  background-color: #29344a;
  padding-top: 40px;
  padding-bottom: 40px;
}
