@import "../../Mixins";

.planetDescription {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  @include mediaQuery(728, max) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  @include mediaQuery(728, max) {
    width: 100%;
  }
  &>p {
    color: white;
    font-size: 16px;
    margin-bottom: 24px;
  }
}

.planetName {
  color: white;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 32px;
}

.infoInNumbers {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.numbersBlock {
  margin-right: 40px;
  margin-bottom: 16px;
}

.value {
  display: inline-block;
  font-size: 28px;
}

.measure {
  display: inline-block;
  font-size: 16px;
  margin-left: 8px;
}

.valueDescription {
  display: block;
  font-size: 16px;
}

.planetPhoto {
  display: block;
  width: 40%;
  @include mediaQuery(728, max) {
    width: 60%;
  }
  &>img {
    width: 100%;
  }
}

.invisible {
  display: none;
}

